<div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">

    <article id="post-<%= @node.id %>" class="<%= node_class @node %>">
      <header class="entry-header">
        <h1 class="entry-title"><%= @node.title %></h1>
      </header><!-- .entry-header -->
      <div class="entry-content">
        <%= raw @node.body %>
      </div><!-- .entry-content -->
    </article><!-- #post-## -->

  </main><!-- #main -->
</div><!-- #primary -->